
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Electonics World!</h1>
    <p>We don't Just Sell Electronics We Bring <strong>Future to YOU</strong></p>
 </div>