@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Customer</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>

    <table class="table">
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <a asp-action="Registration" asp-route-id="Regisgration">Registration</a> |
                    <a asp-action="MyOrders" asp-route-id="">MyOrders</a> |
                    <a asp-action="Login" asp-route-id="Login">Login</a>
                </td>
            </tr>
       </tbody>


    </table>
</div>