@model MvcProject1.Models.CustomerViewModel

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<h4>Customer</h4>

    @using (Html.BeginForm())
    { 
            @Html.AntiForgeryToken()
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Registration">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StreetAddress" class="control-label"></label>
                        <input asp-for="StreetAddress" class="form-control" />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityAddress" class="control-label"></label>
                        <input asp-for="CityAddress" class="form-control" />
                        <span asp-validation-for="CityAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StateAddress" class="control-label"></label>
                        <input asp-for="StateAddress" class="form-control" />
                        <span asp-validation-for="StateAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryAddress" class="control-label"></label>
                        <input asp-for="CountryAddress" class="form-control" />
                        <span asp-validation-for="CountryAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <span>@Html.ValidationMessage("EmailExist", new { @class="text-danger"})</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PassWord" class="control-label"></label>
                        <input asp-for="PassWord" class="form-control" />
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegDate" class="control-label"></label>
                        <input asp-for="RegDate" class="form-control" />
                        <span asp-validation-for="RegDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Signup" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        
   
}
<div> <br />
    <p><strong>If you do have an account please</strong></p>
    <a asp-action="Login">Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
